.THIS {
}
.THIS textarea {
    border: 1px solid #dce4ec;
    border-radius: 4px;
    width: 100%;
    height:
}
.THIS .slds-lookup {
    width: 80%;    
}
.THIS .inputDate {
    width: 80% !important;  
}
.THIS .uiInputDate .display{
    display: none; 
}
.THIS .SalesCallScore {
    margin-left: 20px;
}
.THIS .uiMenu {
    width: 80% !important;
}


.THIS .slds-modal__container {
    margin: 0 auto;
    width: 69%; 
    max-width: 70rem!important;
    min-width: 20rem;
}